html, body
{
	margin: 0;
	padding: 0;
}

h1, h2, div
{
	font-family: Tahoma;
}

h1
{
	font-size: 18pt;
}

h2
{
	font-size: 8pt;
}

div
{
	font: normal 8pt Tahoma;
	background: white;
}

div#title
{
	font: normal 18pt Tahoma;
	background: aqua;
	text-align: center;

}

div#cic
{
	width: 600px;
	height: 600px;
	margin: 10px;
	border: 1px solid black;
	overflow: hidden;
	/*background: yellow;*/
}

div#cic_info
{
	width: 500px;
	height: 580px;
	position: absolute;
	top: 0px;
	left: 610px;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	background: none;
}

li
{
	margin-left: 10px;
}

a
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

.initiative{
font-family: 'Calibri';
font-size: 18px;
font-weight: bold;
line-height: 2;
}

.init_info{
font-family: 'Calibri';
font-size: 14px;
font-weight: bold;
line-height: 2;
}

.initiative_div{
display: none;
position: relative;
left: 10px;
}

.init_info_div{
display: none;
position: relative;
left: 10px;
}