html, body
{
	margin: 0;
	padding: 0;
}

h1, h2, div
{
	font-family: Tahoma;
}

h1
{
	font-size: 18pt;
}

h2
{
	font-size: 8pt;
}

h3
{
	font-size: 14pt;
}

h4
{
	font-size: 18t;
	color: red;
}
div
{
	font: normal 8pt Tahoma;
	/*background: white;*/
}

div#title
{
	font: normal 18pt Tahoma;
	background: aqua;
	text-align: center;

}

div#cic
{
	width: 630px;
	height: 510px;
	position: absolute;
	top: 120px;
	left: 1px;
	border: 1px solid black;
	overflow: hidden;
}

div#cic_info
{
	width: 700px;
	height: 490px;
	position: absolute;
	top: 120px;
	left: 640px;
	border: 1px solid black;
	background: none;
	overflow-y:scroll; height:490;
	padding: 10px
}

li
{
	margin-left: 10px;
}

a
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

.initiative{
font-family: 'Calibri';
font-size: 18px;
font-weight: bold;
line-height: 2;
}

.init_info{
font-family: 'Calibri';
font-size: 14px;
font-weight: bold;
line-height: 2;
}

.initiative_div{
display: none;
position: relative;
left: 10px;
}

.init_info_div{
display: none;
position: relative;
left: 10px;
}

.node{
position: relative left:-600px; 
font-family: 'Calibri';
font-size: 12px;
font-weight: bold;
background: none;
border:hidden; width: 120px; 
text-wrap: unrestricted;
word-wrap: break-word; width: 120px; length: 40px;
text-align: center;
}

div#cic-label{
overflow: visible; 
position: absolute; top: 0px; left: -32px; width: 600px; height: 0px;
}

div#banner {
    float: left;
	width: 99.5%;
	height: auto;
	margin: 0.25% 0.25% 0;
	font-family: Tahoma;
	color: CCFFFF;
	font-size: 30;
	

	
/* Create Gradient */
 /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #008FD1 0%, #0043A0 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #008FD1 0%, #0043A0 100%);
/* Opera */ 
background-image: -o-linear-gradient(bottom, #008FD1 0%, #0043A0 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #008FD1), color-stop(1, #0043A0));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #008FD1 0%, #0043A0 100%);
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #008FD1 0%, #0043A0 100%);
}
